.card-img-overlay-destcard{
    position: absolute;
    top: 60%; /* Position the overlay at 60% from the top */
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding: 20px;
    text-align: center; /* Center text */
}